@use "sass:color";
@use "../variables";

//
// HP-Topper
// --------------------------------------------------

.hp-topper {
  min-height: 100vh;
  background: url(../images/bg-white.svg) no-repeat center center fixed variables.$black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: variables.$white;

  h1 {
    line-height: variables.$leading-body;
  }

  a {
    color: variables.$white;

    &:hover {
      color: color.adjust(variables.$white, $lightness: 20%);
      transition: color 0.15s ease 0s;
    }
  }
  
  i {
    display: block;
    font-style: normal;
  }
}

@media (min-width: 480px) {
  .hp-topper {
  }
}

@media (min-width: 640px) {
  .hp-topper {
  }
}

@media (min-width: 768px) {
  .hp-topper {
  }
}

@media (min-width: 1024px) {
  .hp-topper {
  }
}

@media (min-width: 1280px) {
  .hp-topper {
  }
}

@media (min-width: 1440px) {
  .hp-topper {
  }
}

@media (min-width: 1600px) {
  .hp-topper {
  }
}

@media (min-width: 1900px) {
  .hp-topper {
  }
}
