//
// HP Section - Resy App
// --------------------------------------------------

.section-resy-app {
  display: flex;
  overflow: hidden;

  article {
    position: relative;
    width: 40vw;
    height: auto;

    .highlight {
      padding: 4vw 4vw 0 8vw;
      background: $green;
      overflow: hidden;

      img {
        width: 60%;
      }
    }
    .story {
      position: absolute;
      bottom: 5vw;
      right: -18vw;

      h3 {
        margin-bottom: 1rem;
        font-family: $sans-bold;
        font-weight: $weight-bold;
      }

      p {
        margin-left: 6vw;
      }

      i {
        display: block;
        font-style: normal;
      }
    }
  }
}

@media (max-width: 640px) {
  .section-resy-app {
    article {
      width: 100vw;
      height: auto;
      .highlight {
        padding: 40vw 4vw 0 8vw;

        img {
          margin-left: 10%;
        }
      }
      .story {
        h3 {
          margin-bottom: 0.25rem;
        }
        top: 8vw;
        bottom: auto;
        left: 18vw;
      }
    }
  }
}

@media (min-width: 640px) and (max-width: 1023px) {
  .section-resy-app {
    article {
      .highlight {
      }
      .story {
        bottom: 5vw;
        right: -25vw;
      }
    }
  }
}
