//
// Nav & Branding
// --------------------------------------------------

// Navs

.nav {
  mix-blend-mode: difference;
  text-align: center;

  .nav--left {
    position: fixed;
    width: clamp(50px, 7vw, 800px);
    height: 100vh;
    border-right: 1px solid $white;

    .nav--social {
      position: fixed;
      bottom: 5vh;
      width: clamp(50px, 7vw, 800px);

      li {
        margin-bottom: 20px;
      }
    }
  }

  .rule-spacer {
    position: absolute;
    top: 0;
    width: clamp(50px, 7vw, 800px);
    height: 10.5vw;
    border-right: 2px solid $black;
  }

  .nav--right {
    position: fixed;
    top: 1vh;
    right: 1vh;

    .nav--logo {
      img {
        width: clamp(30px, 4vw, 150px);
        height: auto;
        margin-bottom: 2vh;
      }
    }

    .nav--pages {
      writing-mode: vertical-rl;
      display: flex;

      margin: 0 auto;

      li {
        flex: 1;
        margin-bottom: 1vh;
      }
      a {
        padding: 5px;
        text-decoration: none;
        color: $white;

        &:hover {
          color: lighten($white, 20%);
          transition: color 0.15s ease 0s;
        }
      }
    }
  }
}

// Branding

.branding {
  position: fixed;
  color: $black;
  mix-blend-mode: difference;

  & img {
    width: clamp(30px, 5vw, 600px);
  }
}

.branding__top {
  position: fixed;
  top: 0;
  left: 0;
}

.branding__bottom {
  position: fixed;
  bottom: 0;
  right: 0;
}

@media (min-width: 480px) {
}

@media (min-width: 640px) {
}

@media (min-width: 768px) {
}

@media (min-width: 1024px) {
}

@media (min-width: 1280px) {
}

@media (min-width: 1440px) {
}

@media (min-width: 1600px) {
}

@media (min-width: 1900px) {
}
