@use "mixins";
@use "variables";

//
// Border Utility Classes
// --------------------------------------------------
// These classes make extensive use of the
// generate-breakpoint-prefixes mixin, which
// adds prefixes such as `xs-` to the class.
// see more in `/_mixins.scss`

// Borders
// -------------------------

@include mixins.generate-breakpoint-prefixes {

  &border        { border: variables.$border        !important; }
  &border-top    { border-top: variables.$border    !important; }
  &border-right  { border-right: variables.$border  !important; }
  &border-bottom { border-bottom: variables.$border !important; }
  &border-left   { border-left: variables.$border   !important; }

  &border-dark        { border: variables.$border-dark        !important; }
  &border-top-dark    { border-top: variables.$border-dark    !important; }
  &border-right-dark  { border-right: variables.$border-dark  !important; }
  &border-bottom-dark { border-bottom: variables.$border-dark !important; }
  &border-left-dark   { border-left: variables.$border-dark   !important; }

  &border-thick        { border: variables.$border-thick        !important; }
  &border-top-thick    { border-top: variables.$border-thick    !important; }
  &border-right-thick  { border-right: variables.$border-thick  !important; }
  &border-bottom-thick { border-bottom: variables.$border-thick !important; }
  &border-left-thick   { border-left: variables.$border-thick   !important; }

  &border-none        { border: none        !important; }
  &border-top-none    { border-top: none    !important; }
  &border-right-none  { border-right: none  !important; }
  &border-bottom-none { border-bottom: none !important; }
  &border-left-none   { border-left: none   !important; }

}
