//
// Border Utility Classes
// --------------------------------------------------
// These classes make extensive use of the
// generate-breakpoint-prefixes mixin, which
// adds prefixes such as `xs-` to the class.
// see more in `/_mixins.scss`

// Borders
// -------------------------

@include generate-breakpoint-prefixes {

  &border        { border: $border        !important; }
  &border-top    { border-top: $border    !important; }
  &border-right  { border-right: $border  !important; }
  &border-bottom { border-bottom: $border !important; }
  &border-left   { border-left: $border   !important; }

  &border-dark        { border: $border-dark        !important; }
  &border-top-dark    { border-top: $border-dark    !important; }
  &border-right-dark  { border-right: $border-dark  !important; }
  &border-bottom-dark { border-bottom: $border-dark !important; }
  &border-left-dark   { border-left: $border-dark   !important; }

  &border-thick        { border: $border-thick        !important; }
  &border-top-thick    { border-top: $border-thick    !important; }
  &border-right-thick  { border-right: $border-thick  !important; }
  &border-bottom-thick { border-bottom: $border-thick !important; }
  &border-left-thick   { border-left: $border-thick   !important; }

  &border-none        { border: none        !important; }
  &border-top-none    { border-top: none    !important; }
  &border-right-none  { border-right: none  !important; }
  &border-bottom-none { border-bottom: none !important; }
  &border-left-none   { border-left: none   !important; }

}
