@use "mixins";
@use "variables";

//
// Color Utility Classes
// --------------------------------------------------

// Color Fills
// -------------------------

@include mixins.generate-breakpoint-prefixes {

  &fill-white {       background-color: variables.$gray-mid      !important; }
  &fill-gray-light {  background-color: variables.$gray-light !important; }
  &fill-gray {        background-color: variables.$gray       !important; }
  &fill-gray-dark {   background-color: variables.$gray-dark  !important; }
  &fill-brand {       background-color: variables.$brand      !important; }
  &fill-none {        background-color: transparent !important; }


  // Text Colors
  // -------------------------

  &text-gray-light {  color: variables.$gray-light !important; }
  &text-gray       {  color: variables.$gray       !important; }
  &text-gray-dark  {  color: variables.$gray-dark  !important; }
  &text-brand      {  color: variables.$brand      !important; }
  &text-white      {  color: variables.$white      !important; }

}
