//
// Color Utility Classes
// --------------------------------------------------

// Color Fills
// -------------------------

@include generate-breakpoint-prefixes {

  &fill-white {       background-color: $white      !important; }
  &fill-gray-light {  background-color: $gray-light !important; }
  &fill-gray {        background-color: $gray       !important; }
  &fill-gray-dark {   background-color: $gray-dark  !important; }
  &fill-brand {       background-color: $brand      !important; }
  &fill-none {        background-color: transparent !important; }


  // Text Colors
  // -------------------------

  &text-gray-light {  color: $gray-light !important; }
  &text-gray       {  color: $gray       !important; }
  &text-gray-dark  {  color: $gray-dark  !important; }
  &text-brand      {  color: $brand      !important; }

}
