@use "mixins";

//
// Flexbox
// --------------------------------------------------
// These classes make use of the generate-
// breakpoint-prefixes mixin, which adds
// prefixes such as `xs-` to the class.
// see more in `/_mixins.scss`


// Flex
// -------------------------

@include mixins.generate-breakpoint-prefixes {
  &flex         { display: flex; }
  &flex-wrap    { flex-wrap: wrap; }
  &items-center { align-items: center; }
}
