@use "variables";

//
// Layout
// --------------------------------------------------

html {
  height: 100%;
  background-color: variables.$black;
  scroll-behavior: smooth;
}

body {
  height: 100%;
  margin: 0 auto;
  background-color: variables.$black;
}

.page-wrap {
  min-height: 100%;
  background: url(../images/bg.svg) no-repeat center center fixed variables.$white;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  background-size: cover;
  mix-blend-mode: difference;
}

.page-wrap::after {
  display: block;
  content: "";
}

section {
  display: flex;
  align-items: center;
  padding-bottom: variables.$space-10;
}

.container {
  width: clamp(250px, 80vw, 1920px);
  margin-left: clamp(75px, 12vw, 600px);
}

@media (min-width: 480px) {
}

@media (min-width: 640px) {
}

@media (min-width: 768px) {
}

@media (min-width: 1024px) {
}

@media (min-width: 1280px) {
}

@media (min-width: 1440px) {
}

@media (min-width: 1600px) {
}

@media (min-width: 1920px) {
}
