//
// Mixins
// --------------------------------------------------

// Generate Breakpoint Prefixes
// -------------------------
// this mixin adds breakpoint prefixes
// from the list of breakpoints to the
// beginning of a block of css selectors

// all of the breakpoint names and values
$breakpoints: (
  xs: null,
  sm: 40rem,
  // 640px
  md: 48rem,
  // 768px
  lg: 64rem,
  // 1,024px
  xl: 90rem,
  // 1,440px
  xxl: 100rem,
  // 1,600px
  xxxl: 120rem // 1,920px,,,
);

// returns the appropriate media query
// for the given breakpoint name
@mixin media-query($breakpoint) {
  @if (map-get($breakpoints, $breakpoint)) == null {
    @content;
  } @else {
    @media (min-width: #{map-get($breakpoints, $breakpoint)}) {
      @content;
    }
  }
}

// nest content inside breakpoint prefix classes
// in the appropriate media query block
@mixin generate-breakpoint-prefixes {
  @if ($generate-responsive-classes == true) {
    // generate prefixed classes
    @each $breakpoint-name, $breakpoint-value in $breakpoints {
      $breakpoint-prefix: "#{$breakpoint-name}-";

      @include media-query($breakpoint-name) {
        // Columns
        .#{$breakpoint-prefix} {
          @content;
        }
      }
    }
  } @else {
    // only return xs styles
    .xs- {
      @content;
    }
  }
}

// hide from humans not screen readers
@mixin visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

// Prefix
// -------------------------
// CSS vendor prefix mixin for desktops
// e.g. p {@include prefix((transform: translate(-50%, -50%)), webkit ms);}
// Credit: http://www.sitepoint.com/sass-mixins-kickstart-project/

@mixin prefix($map, $vendors: webkit moz ms o) {
  @each $prop, $value in $map {
    @if $vendors {
      @each $vendor in $vendors {
        #{"-" + $vendor + "-" + $prop}: #{$value};
      }
    }

    // Dump regular property anyway
    #{$prop}: #{$value};
  }
}

// Keyframes
// -------------------------

@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }
  @-moz-keyframes #{$animation-name} {
    @content;
  }
  @keyframes #{$animation-name} {
    @content;
  }
}
