@use "mixins";
@use "variables";

//
// Type
// --------------------------------------------------

// Load Fonts
// -------------------------

@font-face {
  font-family: "GT-Era-Display-Thin-Trial";
  src: url("../fonts/GT-Era-Display-Thin-Trial.woff2") format("woff2");
}

@font-face {
  font-family: "GT-Era-Text-Regular-Trial";
  src: url("../fonts/GT-Era-Text-Regular-Trial.woff2") format("woff2");
}

@font-face {
  font-family: "GT-Era-Display-Medium-Trial";
  src: url("../fonts/GT-Era-Display-Medium-Trial.woff2") format("woff2");
}

@font-face {
  font-family: "GT-Era-Display-Bold-Trial";
  src: url("../fonts/GT-Era-Display-Bold-Trial.woff2") format("woff2");
}

// Base Type
// -------------------------

body {
  font-family: variables.$sans-book;
  font-weight: variables.$weight-book;
  line-height: variables.$leading-body;
  text-rendering: optimizeLegibility;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  line-height: variables.$leading-headline;
}

h1,
.text-1 {
  font-family: variables.$sans-thin;
  font-size: variables.$text-1;
  font-weight: variables.$weight-thin;
  // letter-spacing: -2px;
}

h2,
.text-2 {
  font-family: variables.$sans-thin;
  font-size: variables.$text-2;
  font-weight: variables.$weight-thin;
  // letter-spacing: -1.5px;
}

h3,
.text-3 {
  font-family: variables.$sans-book;
  font-size: variables.$text-3;
  font-weight: variables.$weight-book;
  // letter-spacing: -1px;
}

h4,
.text-4 {
  font-family: variables.$sans-book;
  font-size: variables.$text-4;
  font-weight: variables.$weight-book;
  // letter-spacing: -0.5px;
}

h5,
.text-5 {
  font-family: variables.$sans-book;
  font-size: variables.$text-5;
  font-weight: variables.$weight-book;
  // letter-spacing: -0.5px;
}

h6,
.text-6 {
  font-family: variables.$sans-book;
  font-weight: variables.$weight-book;
  font-size: variables.$text-6;
  // letter-spacing: -0.25px;
}

// Typography Emphasis and Styling
// -------------------------

.weight-thin {
  font-weight: variables.$weight-thin;
}

.weight-book {
  font-weight: variables.$weight-book;
}

.weight-bold {
  font-weight: variables.$weight-bold;
}

.italic {
  font-style: italic;
}

.caps {
  text-transform: uppercase !important;
}

// Text Alignment + Responsive Prefixes
// -------------------------

@include mixins.generate-breakpoint-prefixes {
  &text-left {
    text-align: left !important;
  }
  &text-center {
    text-align: center !important;
  }
  &text-right {
    text-align: right !important;
  }
  &text-justify {
    text-align: justify !important;
  }
}

.nowrap {
  white-space: nowrap !important;
}
.truncate {
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}

.decoration-none {
  text-decoration: none !important;
}
.decoration-underline {
  text-decoration: underline !important;
}
.decoration-line-through {
  text-decoration: line-through !important;
}

// List styles
// -------------------------
// Unstyled keeps list items block level,
// just removes default browser padding and list-style

.list-unstyled {
  margin: 0;
  padding: 0;
  list-style: none !important;
}

// Link Styles
// -------------------------

a,
.link-black {
  text-decoration: none;
  color: variables.$black;
  font-family: variables.$sans-demi;
  font-weight: variables.$weight-demi;

  &:hover {
    text-decoration: none;
    color: variables.$black;
  }
}

.link-red {
  z-index: 1;
  position: relative;
  display: inline-block;

  &::before {
    z-index: -1;
    position: absolute;
    display: inline-block;
    content: "";
    width: 95%;
    height: 75%;
    left: -0.5vw;
    top: -0.5vw;
    background: variables.$red;
  }
  &:hover::before {
    filter: saturate(10);
  }
}

.link-green {
  z-index: 1;
  position: relative;
  display: inline-block;

  &::before {
    z-index: -1;
    position: absolute;
    display: inline-block;
    content: "";
    width: 95%;
    height: 75%;
    left: -0.5vw;
    top: -0.5vw;
    background: variables.$green;
  }
  &:hover::before {
    filter: saturate(10);
  }
}

@media (min-width: 480px) {
}

@media (min-width: 640px) {
}

@media (min-width: 768px) {
}

@media (min-width: 1024px) {
}

@media (min-width: 1280px) {
}

@media (min-width: 1440px) {
}

@media (min-width: 1600px) {
}

@media (min-width: 1900px) {
}
