@use "sass:color";
@use "mixins";
@use "variables";

// Load Fonts

@font-face {
    font-family: 'nudica-light';
    src:  url('nudica-light-webfont.woff2') format('woff2'), 
          url('nudica-light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'nudica-medium';
    src:  url('nudica-meduim-webfont.woff2') format('woff2'), 
          url('nudica-medium-webfont.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    }


@font-face {
  font-family: 'nudica-bold';
  src:  url('nudica-bold-webfont.woff2') format('woff2'), 
        url('nudica-bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}


// Base Type Styles

html {
  font-size: variables.$base-font-size;
  font-family: variables.$sans-light;
  line-height: variables.$line-height-body;
  font-weight: variables.$light;
  color: variables.$white;
  letter-spacing: -.075rem;
  -webkit-font-feature-settings: "liga", "kern" !important;
  font-feature-settings:         "liga", "kern" !important;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
}


// Base Text Size
// -------------------------

h1 {
  font-family: variables.$sans-light;
  font-weight: variables.$light;
  font-size:   variables.$text-1;
  line-height: variables.$line-height-hed;

  strong,
  b,
  &.bold,
  .bold {
    font-family: variables.$sans-bold;
    font-weight: variables.$bold;
    letter-spacing: normal;
  }
}

h2 {
  font-size:   variables.$text-2;
  line-height: variables.$line-height-hed;

  strong,
  b,
  &.bold,
  .bold {
    font-family: variables.$sans-bold;
    font-weight: variables.$bold;
    letter-spacing: normal;
  }
}

h3 {
  font-size:   variables.$text-3;
  line-height: variables.$line-height-hed;

  strong,
  b,
  &.bold,
  .bold {
    font-family: variables.$sans-bold;
    font-weight: variables.$bold;
    letter-spacing: normal;
  }
}

h4 {
  font-size:   variables.$text-4;
  line-height: variables.$line-height-hed;
}

h5 {
  font-size:   variables.$text-5;
  line-height: variables.$line-height-hed;
}

h6 {
  font-size:   variables.$text-6;
  line-height: variables.$line-height-hed;
}

a {
  text-decoration: none;
  color: variables.$brand;

  svg path {
    transition: fill 0.15s ease;
  }
  
  &:hover {
    color: color.scale(variables.$brand, $lightness: -30%);
    transition: color .15s ease 0s;
    
    svg path {
      fill: color.scale(variables.$brand, $lightness: -30%);
      transition: fill 0.15s ease;
    }
  }
  &:active{
    color: variables.$brand;
    transition: color .15s ease 0s;
    
    svg path {
      fill: color.scale(variables.$brand, $lightness: -30%);
      transition: fill 0.15s ease;
    }
  }
}

.link-gray {
  color: variables.$gray !important;
  text-decoration: underline;
  &:hover {
    color: color.scale(variables.$gray, $lightness: -30%) !important;
  }
}


// Typography Emphasis and Styling
.bold,
strong,
b {
  font-family: variables.$sans-bold;
  font-weight: variables.$bold;
  letter-spacing: normal;
}

em,
i {
  font-style: italic;
}

.caps{
  text-transform: uppercase !important;
}

small {
  font-size: 0.6666666667em; // responsive to parent
  letter-spacing: normal;
}

// Text Alignment

@include mixins.generate-breakpoint-prefixes {
  &text-left    { text-align: left    !important; }
  &text-center  { text-align: center  !important; }
  &text-right   { text-align: right   !important; }
  &text-justify { text-align: justify !important; }
}


// List styles
// -------------------------

// Ordered and unordered list,
// list items are block level
ol,
ul {
  padding-left: variables.$space-4;
}


// Responsive Text Size
// -------------------------

@include mixins.generate-breakpoint-prefixes {

  &text-1 {
    font-size:   variables.$text-1 !important;
    line-height: variables.$line-height-hed;
  }

  &text-2 {
    font-size:   variables.$text-2 !important;
    line-height: variables.$line-height-hed;
  }

  &text-3 {
    font-size:   variables.$text-3 !important;
    line-height: variables.$line-height-hed;
  }

  &text-4 {
    font-size:   variables.$text-4 !important;
    line-height: variables.$line-height-body;
  }

  &text-5 {
    font-size:   variables.$text-5 !important;
    line-height: variables.$line-height-body;
  }

  &text-6 {
    font-size:   variables.$text-6 !important;
    line-height: variables.$line-height-body;
  }

  &line-height-hed {
    line-height: variables.$line-height-hed !important;
  }

  &line-height-body {
    line-height: variables.$line-height-body !important;
  }

}


// Ordered and unordered list,
// list items are block level
// -------------------------
ol,
ul {
  padding-left: variables.$space-4;
}


// Unstyled keeps list items block level,
// just removes default browser padding and list-style
// -------------------------

.list-unstyled {
  margin-left:  0    !important;
  padding-left: 0    !important;
  list-style:   none !important;
}
