//
// Variables
// --------------------------------------------------

// Config
// -------------------------

// set to false to make responsive mixin give
// only xs- versions of responsive classes
$generate-responsive-classes: true !default;

// Fonts
// -------------------------

$sans-thin: "GT-Era-Display-Thin-Trial", "Times New Roman", "Helvetica Neue", Helvetica,
  Arial, sans-serif;
$sans-book: "GT-Era-Text-Regular-Trial", "Times New Roman", "Helvetica Neue", Helvetica,
  Arial, sans-serif;
$sans-demi: "GT-Era-Display-Medium-Trial", "Helvetica Neue", Helvetica, Arial, sans-serif;
$sans-bold: "GT-Era-Display-Bold-Trial", "Helvetica Neue", Helvetica, Arial, sans-serif;

// Font Sizes

$base-font-size: 16px;

$text-1: clamp(24px, 5vw, 104px);
$text-2: clamp(20px, 3vw, 64px);
$text-3: clamp(18px, 2.5vw, 44px);
$text-4: clamp(14px, 1.5vw, 32px);
$text-5: clamp(12px, 1.5vw, 24px);
$text-6: clamp(10px, 1vw, 18px);

// Font Weights

$weight-thin: 200;
$weight-book: 400;
$weight-demi: 600;
$weight-bold: 700;

// Line Heights

$leading-headline: 1;
$leading-body: 1.2;

// Colors
// -------------------------

$white: #fff;
$black: #000;
$red: rgba(255, 70, 45, 0.1);
$green: rgba(22, 166, 108, 0.1);
$yellow: rgba(255,222,63, 0.15);

// Layout
// -------------------------

// Spacing

$space-2: 2vw;
$space-5: 5vw;
$space-10: 10vw;
$space-15: 15vw;
$space-20: 20vw;
$space-25: 25vw;
$space-30: 30vw;
$space-35: 35vw;
