@charset "utf-8";

//
// Imports
// --------------------------------------------------

@use "sass:color";
@use "mixins";
@use "variables";
@use "normalize";
@use "base";
@use "typography";
@use "colors";
@use "layout";
@use "grid";
@use "flex";
@use "animation";
@use "borders";


// Scaffolding
// -------------------------

.container {
  max-width: 1440px;
  min-width: 300px;
}


@include mixins.generate-breakpoint-prefixes {

  &section-view-tall {
    height: 95vh;
    min-height: 51rem;
  }

  &section-view-short {
    height: 40vh;
    min-height: 30rem;
  }

}

// Not proud of this, but hey, it’s gotta fit in the MacBook One viewport
@media (min-width: 47.9375rem) and (max-height: 47.9375rem) {



}


// Social Icons
// -------------------------

.icon:hover g,
.icon:hover path {
  fill: color.adjust(variables.$brand, $lightness: 10%);
  transition: color .15s ease 0s;
}




// Covers
// -------------------------

@include mixins.generate-breakpoint-prefixes {

  &cover {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  &cover--bf-roles {
    background-image: linear-gradient(to right, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 50%), url("../images/bf-roles-desktop.gif");
  }

  &cover--bf-roles-mobile {
    background-image: url("../images/bf-roles-mobile.gif");
  }

  &cover--9kisses {
    background-image: url("../images/nyt-9kisses-desktop.jpg");
  }

  &cover--9kisses-mobile {
    background-image: url("../images/nyt-9kisses-mobile.jpg");
  }

  &cover--summer-drinks {
    background-image: url("../images/nyt-summer-drinks-desktop.jpg");
  }

  &cover--summer-drinks-mobile {
    background-image: url("../images/nyt-summer-drinks-mobile.jpg");
  }

  &cover--dasani {
    background-image: url("../images/nyt-dasani-desktop.jpg");
  }

  &cover--dasani-mobile {
    background-image: url("../images/nyt-dasani-mobile.jpg");
  }

  &cover--solid {
    background-image: url("../images/bf-solid-desktop.jpg");
  }

  &cover--solid-mobile {
    background-image: url("../images/bf-solid-mobile.jpg");
  }

  &cover--smc {
    background-image: url("../images/bf-smc-desktop.jpg");
    background-position: top center !important;
  }

  &cover--smc-mobile {
    background-image: url("../images/bf-smc-mobile.jpg");
  }

  &cover--resyweb {
    background-image: url("../images/resy-resyweb.jpg");
    background-position: top center !important;
  }

  &cover--resyweb-mobile {
    background-image: url("../images/resy-resyweb-mobile.jpg");
  }

  &cover--scoop {
    background-image: url("../images/nyt-scoop-desktop.jpg");
    background-position: top center !important;
  }

  &cover--scoop-mobile {
    background-image: url("../images/nyt-scoop-mobile.jpg");
  }

  &cover--innovations {
    background-image: url("../images/nyt-innovations-desktop.jpg");
  }

  &cover--innovations-mobile {
    background-image: url("../images/nyt-innovations-mobile.jpg");
  }

}
