@charset "utf-8";

//
// Imports
// --------------------------------------------------

@import "mixins";
@import "variables";
@import "normalize";
@import "base";
@import "typography";
@import "colors";
@import "layout";
@import "grid";
@import "flex";
@import "animation";
@import "borders";


// Scaffolding
// -------------------------

.container {
  max-width: 1440px;
  min-width: 300px;
}


@include generate-breakpoint-prefixes {

  &section-view-tall {
    height: 95vh;
    min-height: 37.5rem;
  }

  &section-view-short {
    height: 25vh;
    min-height: 10rem;
  }

}


// Social Icons
// -------------------------

.icon:hover g,
.icon:hover path {
  fill: lighten($brand, 10%);
  transition: color .15s ease 0s;
}

// Covers
// -------------------------

@include generate-breakpoint-prefixes {

  &cover {
    background-size: cover !important;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  &cover--9kisses {
    background-image: url("/images/nyt-9kisses.jpg");
  }

  &cover--summer-drinks {
    background-image: url("/images/nyt-summer-drinks.jpg");
  }

  &cover--dasani {
    background-image: url("/images/nyt-dasani.jpg");
  }

}
